/* Write your CSS code here. */
.bgContainer {
  background-image: linear-gradient(#ffeeee, #ffc0bb);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  background-color: #ffffff;
  padding: 35px;
  border-style: none;
  border-radius: 12px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardEmojis {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.happySymbol {
  width: 45px;
}
